# LAB 6

To our analyst, for the first step of this project, here are a few things we want to be done. Do it in whatever method you can think of. We will use SQL and Python.

This dataset is an actual research survey dataset extracted directly from google forms. Real life data can look like this.


 Good luck!

#TASK 1:
1. Open the survey sheet [Survey](https://docs.google.com/spreadsheets/d/1aS0-hcmZloRCT6zn2olOgEZvYh1fHJ5utET4i1RiaJk/edit#gid=0)
2. make a copy
3. set column names (Set them logically, in a way others will understand)
    Open the file "Questionnaire" to see where the columns are from
4. Download as Csv
5. Upload it in your colab directory.

1. Import your libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

2. Import the csv file 'Survey.csv' into df

In [ ]:
# Read the CSV file into a DataFrame
df = pd.read_csv('Survey.csv')

column_names = df.columns
print(column_names)

Index(['Timestamp', 'Name', 'Age', 'Sex', 'Cell', 'From Bulacan',
       'Extended Family', 'Household Size', 'Students in Household',
       'Bill Contributors', 'Monthly Household Salary',
       'Other Financial Assistance', 'Monthly Electric Budget',
       'Owned Appliances', 'Month A', 'Month B', 'Month C', 'Amount',
       'Frequency', 'Number of Students in Household', 'Electronics Owned',
       'Struggle Paying Electric Bill', 'Failure Paying Electric Bill'],
      dtype='object')

3. Connect to a database, name the database 'Survey_Database.db'

In [ ]:
import sqlite3

# Connect to the SQLite database (creates a new one if it doesn't exist)
conn = sqlite3.connect('Survey_Database.db')

4. Add your dataframe to the database. Name the table 'Initial_Table'

In [ ]:
# Add DataFrame to the database as a new table named 'Initial_Table'
df.to_sql('Initial_Table', conn, index=False)

116

5. Check column names

In [ ]:
column_names = df.columns
print(column_names)

Index(['Timestamp', 'Name', 'Age', 'Sex', 'Cell', 'From Bulacan',
       'Extended Family', 'Household Size', 'Students in Household',
       'Bill Contributors', 'Monthly Household Salary',
       'Other Financial Assistance', 'Monthly Electric Budget',
       'Owned Appliances', 'Month A', 'Month B', 'Month C', 'Amount',
       'Frequency', 'Number of Students in Household', 'Electronics Owned',
       'Struggle Paying Electric Bill', 'Failure Paying Electric Bill'],
      dtype='object')

6. Query: Make a table 'Initial_Table2' without the columns, timestamp, name, mobile number.

In [ ]:
# Exclude specific columns
columns_to_exclude = ['Timestamp', 'Name', 'Cell']
df_filtered = df.drop(columns=columns_to_exclude)

# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')

# Add filtered DataFrame to the database as a new table named 'Initial_Table2'
df_filtered.to_sql('Initial_Table2', conn, index=False)

# Close the connection when done
conn.close()

7. Query: Only retrieve data of respondents from Bulacan.

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')
# Define the SQL query to retrieve data of respondents from Bulacan
sql_query = '''
SELECT * FROM Initial_Table2
WHERE [From Bulacan] = 'Yes'
'''
# Execute the query and fetch the results into a DataFrame
bulacan_respondents_df = pd.read_sql_query(sql_query, conn)

# Close the connection when done
conn.close()

8. Make a table from the query in item 7, call it 'Main_Table'

In [ ]:
# Create a new table 'Main_Table' from the query results
conn = sqlite3.connect('Survey_Database.db')
# Create a new table 'Main_Table' from the query results, replacing the existing table if it exists
bulacan_respondents_df.to_sql('Main_Table', conn, index=False, if_exists='replace')

112

In [ ]:
# Close the connection when done
conn.close()

9. Query: Retrieve responses with students in household

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')

# Define the SQL query to retrieve responses with students in the household
sql_query = '''
SELECT * FROM Initial_Table2
WHERE [Students in Household] = 'Yes'
'''

# Execute the query and fetch the results into a DataFrame
students_household_df = pd.read_sql_query(sql_query, conn)

# Close the connection when done
conn.close()

10. Make a table from the Query in item 9. Call it 'With_Students'

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')

# Define the SQL query to retrieve responses with students in the household
sql_query = '''
SELECT * FROM Initial_Table2
WHERE [Students in Household] = 'Yes'
'''

# Execute the query and fetch the results into a DataFrame
students_household_df = pd.read_sql_query(sql_query, conn)

# Create a new table 'With_Students' from the query results
students_household_df.to_sql('With_Students', conn, index=False)

# Close the connection when done
conn.close()

11. Query: Retrieve responses from table 'With_Students' where students have at least a Laptop or a Desktop COmputer

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')

# Define the SQL query to retrieve responses with students in the household and at least a Laptop or Desktop Computer
sql_query = '''
SELECT * FROM With_Students
WHERE [Owned Appliances] LIKE '%Laptop%'
OR [Owned Appliances] LIKE '%Desktop Computer%'
'''

# Execute the query and fetch the results into a DataFrame
students_with_computer_df = pd.read_sql_query(sql_query, conn)

# Close the connection when done
conn.close()

12. Show the existing tables in the current database.

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')

# Define the SQL query to retrieve the names of existing tables
sql_query = "SELECT name FROM sqlite_master WHERE type='table'"

# Execute the query and fetch the results into a DataFrame
tables_df = pd.read_sql_query(sql_query, conn)

# Display the existing tables
print(tables_df)

             name
0   Initial_Table
1  Initial_Table2
2      Main_Table
3   With_Students

13. Close the connection

In [ ]:
# Close the connection when done
conn.close()

14. Call the database again, verify if we have the new tables.

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')

# Define the SQL query to retrieve the names of existing tables
sql_query = "SELECT name FROM sqlite_master WHERE type='table'"

# Execute the query and fetch the results into a DataFrame
tables_df = pd.read_sql_query(sql_query, conn)

# Close the connection when done
conn.close()

# Display the existing tables
print(tables_df)

             name
0   Initial_Table
1  Initial_Table2
2      Main_Table
3   With_Students

15. Drop both of the Initial Tables

In [ ]:
# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')

# Define the SQL query to drop the 'Initial_Table' table
sql_query_drop_initial1 = "DROP TABLE IF EXISTS Initial_Table"

# Define the SQL query to drop the 'Initial_Table2' table
sql_query_drop_initial2 = "DROP TABLE IF EXISTS Initial_Table2"

# Execute the queries to drop the tables
conn.execute(sql_query_drop_initial1)
conn.execute(sql_query_drop_initial2)

# Commit the transaction
conn.commit()

# Close the connection when done
conn.close()

In [ ]:

# Connect to the SQLite database
conn = sqlite3.connect('Survey_Database.db')

# Define the SQL query to retrieve the names of existing tables
sql_query = "SELECT name FROM sqlite_master WHERE type='table'"

# Execute the query and fetch the results into a list of table names
tables = conn.execute(sql_query).fetchall()

# Print the list of table names
print("Existing Tables:")
for table in tables:
    print(table[0])

# Close the connection when done
conn.close()

Existing Tables:
Main_Table
With_Students

# TURNING IN

Turn the following files in:
1. your .csv file
2. your .db file
3. your colab notebook link (Make me a commenter)